<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pessoa">
            <h2><span jhiTranslate="algamoneyApp.pessoa.detail.title">Pessoa</span> {{pessoa.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="algamoneyApp.pessoa.nome">Nome</span></dt>
                <dd>
                    <span>{{pessoa.nome}}</span>
                </dd>
                <dt><span jhiTranslate="algamoneyApp.pessoa.ativo">Ativo</span></dt>
                <dd>
                    <span>{{pessoa.ativo}}</span>
                </dd>
                <dt><span jhiTranslate="algamoneyApp.pessoa.foto">Foto</span></dt>
                <dd>
                    <div *ngIf="pessoa.foto">
                        <a (click)="openFile(pessoa.fotoContentType, pessoa.foto)" jhiTranslate="entity.action.open">open</a>
                        {{pessoa.fotoContentType}}, {{byteSize(pessoa.foto)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="algamoneyApp.pessoa.email">Email</span></dt>
                <dd>
                    <span>{{pessoa.email}}</span>
                </dd>
                <dt><span jhiTranslate="algamoneyApp.pessoa.imgArquivo">Img Arquivo</span></dt>
                <dd>
                    <div *ngIf="pessoa.imgArquivo">
                        <a (click)="openFile(pessoa.imgArquivoContentType, pessoa.imgArquivo)">
                            <img [src]="'data:' + pessoa.imgArquivoContentType + ';base64,' + pessoa.imgArquivo" style="max-width: 100%;" alt="pessoa image"/>
                        </a>
                        {{pessoa.imgArquivoContentType}}, {{byteSize(pessoa.imgArquivo)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="algamoneyApp.pessoa.arquivo">Arquivo</span></dt>
                <dd>
                    <div *ngIf="pessoa.arquivo">
                        <a (click)="openFile(pessoa.arquivoContentType, pessoa.arquivo)" jhiTranslate="entity.action.open">open</a>
                        {{pessoa.arquivoContentType}}, {{byteSize(pessoa.arquivo)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="algamoneyApp.pessoa.endereco">Endereco</span></dt>
                <dd>
                    <div *ngIf="pessoa.enderecoId">
                        <a [routerLink]="['/endereco', pessoa.enderecoId, 'view']">{{pessoa.enderecoNumero}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pessoa', pessoa.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
