<div>
    <h2 id="page-heading">
        <span jhiTranslate="algamoneyApp.endereco.home.title">Enderecos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-endereco" [routerLink]="['/endereco/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="algamoneyApp.endereco.home.createLabel">
            Create new Endereco
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="enderecos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="logradouro"><span jhiTranslate="algamoneyApp.endereco.logradouro">Logradouro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numero"><span jhiTranslate="algamoneyApp.endereco.numero">Numero</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="complemento"><span jhiTranslate="algamoneyApp.endereco.complemento">Complemento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bairro"><span jhiTranslate="algamoneyApp.endereco.bairro">Bairro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cep"><span jhiTranslate="algamoneyApp.endereco.cep">Cep</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cidade"><span jhiTranslate="algamoneyApp.endereco.cidade">Cidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estado"><span jhiTranslate="algamoneyApp.endereco.estado">Estado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let endereco of enderecos ;trackBy: trackId">
                <td><a [routerLink]="['/endereco', endereco.id, 'view' ]">{{endereco.id}}</a></td>
                <td>{{endereco.logradouro}}</td>
                <td>{{endereco.numero}}</td>
                <td>{{endereco.complemento}}</td>
                <td>{{endereco.bairro}}</td>
                <td>{{endereco.cep}}</td>
                <td>{{endereco.cidade}}</td>
                <td>{{endereco.estado}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/endereco', endereco.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/endereco', endereco.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'endereco/'+ endereco.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="enderecos && enderecos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
