<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-lancamento-heading" jhiTranslate="algamoneyApp.lancamento.home.createOrEditLabel">Create or edit a Lancamento</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!lancamento.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="lancamento.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="algamoneyApp.lancamento.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                        [(ngModel)]="lancamento.descricao" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="algamoneyApp.lancamento.dataVencimento" for="field_dataVencimento">Data Vencimento</label>
                    <div class="input-group">
                        <input id="field_dataVencimento" type="text" class="form-control" name="dataVencimento" ngbDatepicker  #dataVencimentoDp="ngbDatepicker" [(ngModel)]="lancamento.dataVencimento"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataVencimentoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="algamoneyApp.lancamento.dataPagamento" for="field_dataPagamento">Data Pagamento</label>
                    <div class="input-group">
                        <input id="field_dataPagamento" type="text" class="form-control" name="dataPagamento" ngbDatepicker  #dataPagamentoDp="ngbDatepicker" [(ngModel)]="lancamento.dataPagamento"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataPagamentoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="algamoneyApp.lancamento.valor" for="field_valor">Valor</label>
                    <input type="number" class="form-control" name="valor" id="field_valor"
                        [(ngModel)]="lancamento.valor" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="algamoneyApp.lancamento.observacao" for="field_observacao">Observacao</label>
                    <input type="text" class="form-control" name="observacao" id="field_observacao"
                        [(ngModel)]="lancamento.observacao" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="algamoneyApp.lancamento.tipoLancamento" for="field_tipoLancamento">Tipo Lancamento</label>
                    <select class="form-control" name="tipoLancamento" [(ngModel)]="lancamento.tipoLancamento" id="field_tipoLancamento" >
                        <option value="RECEITA">{{'algamoneyApp.TipoLancamento.RECEITA' | translate}}</option>
                        <option value="DESPESA">{{'algamoneyApp.TipoLancamento.DESPESA' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="algamoneyApp.lancamento.categoria" for="field_categoria">Categoria</label>
                    <select class="form-control" id="field_categoria" name="categoria" [(ngModel)]="lancamento.categoriaId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoriaOption.id" *ngFor="let categoriaOption of categorias; trackBy: trackCategoriaById">{{categoriaOption.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="algamoneyApp.lancamento.pessoa" for="field_pessoa">Pessoa</label>
                    <select class="form-control" id="field_pessoa" name="pessoa" [(ngModel)]="lancamento.pessoaId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pessoaOption.id" *ngFor="let pessoaOption of pessoas; trackBy: trackPessoaById">{{pessoaOption.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label">Comprovante</label><br>
                    <input [hidden]="lancamento.anexo" class="form-control" type="file" ng2FileSelect [uploader]="uploader" (change)="fileSelected()" />
                    <a [hidden]="!lancamento.anexo" class="btn-link" href="javascript:void(0)" target="_blank" (click)="downloadComprovante()">{{lancamento.anexo}}</a>
                    <button [hidden]="!lancamento.anexo" type="button" class="btn-danger" ngbTooltip="Remover anexo" (click)="removerAnexo()">X</button>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
