#footer {
    text-align: center;
    background-color: #555;
    background-image: url(http://intranet.mpro.gov/intranet2014-theme/images/marcadaguacabecalho2.png);
    background-position: bottom;
    width: auto;
    margin: 0 auto;
    //margin-top: -30px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    border-bottom: 3px solid #555;
    //border-top: 3px solid #555;
}
